<div class="categoria__formulario">
  <h2>Nueva Categoria</h2>
  <form class="categoria__form" [formGroup]="categoryForm">
    <div class="categoria__input">
      <label class="categoria__label">Nombre</label>
      <input type="text" placeholder="Nombre ..." formControlName="nombre"  >
      <span class="text-danger"
      *ngIf="categoryForm.get('nombre')?.hasError('required') && categoryForm.get('nombre')?.touched" >
        El nombre del producto es <strong>requerido </strong>
      </span>

      <span class="text-danger"
      *ngIf="categoryForm.get('nombre')?.hasError('minlength') && categoryForm.get('nombre')?.touched" >
        El nombre del producto es <strong>muy corta</strong>
      </span>

    </div>
    <label class="categoria__label">Descripcion</label>
    <textarea class="categoria__textarea" placeholder="Descripcion de la categoría ..." formControlName="descripcion"></textarea>
    <span class="text-danger"
      *ngIf="categoryForm.get('descripcion')?.hasError('required') && categoryForm.get('descripcion')?.touched" >
        La descripcion del producto es <strong>requerido </strong>
      </span>
    <mat-dialog-actions class="category__buttons">
      <button class="button__save" mat-button color="primary"  (click)="onSave()">
          <mat-icon>save</mat-icon> Guardar
      </button>

      <button mat-button color="primary"  (click)="onCancel()"  >
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
  </mat-dialog-actions>

  </form>
</div>

<!-- <span>{{categoryForm.controls['nombre'].errors['required']! |json}}</span> -->
<!-- <h2 class="titulo__principal" mat-dialog-title> Nueva Categoria</h2>
<mat-dialog-content class="nueva__categoria">
  <form [formGroup]="categoryForm">
    <div class="category__container">
      <mat-form-field   class="category__input"  >
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre"  required>

      </mat-form-field>


      <mat-form-field class="category__input">
        <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" ></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<div>
  <p *ngIf="campoInvalido('nombre')">E</p>
</div>
<mat-dialog-actions class="category__buttons">
    <button class="button__save" mat-button color="primary" [disabled]="categoryForm.invalid" (click)="onSave()">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary"  (click)="onCancel()"  >
      <mat-icon>cancel</mat-icon> Cancelar
  </button>
</mat-dialog-actions> -->

