mat-card-content{
    background: var(--light);

}

table{
    background: var(--light);

}

.cabecera__table-th{
    font-family: var(--poppins);
    text-align: center;
    color: var(--dark);

}

.cabecera__table-td{
    font-family: var(--poppins);
    text-align: center;
    color: var(--dark);
}
.table__iconos{
    text-align: center;
}

mat-paginator{
    background: var(--light);
    color: var(--dark);
}

.buscador__agregar{

  display: flex;
  justify-content: space-between;
  align-items : center;
  background: var(--light);
  height: 150px;
}


.titulo__card{
  margin : 0;
  padding: 10px 0 0 20px;
  color: var(--dark);
  background: var(--light);

}

mat-label{

}


.label__field{
  color: var(--dark);
}


.category__span{
  color: rgb(226, 32, 32);
  font-weight: bold;
}
